[submodule "check_smart"]
	path = check_smart
	url = git@github.com:Napsty/check_smart.git
[submodule "check_domain"]
	path = check_domain
	url = git@github.com:glensc/monitoring-plugin-check_domain.git
